<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Multiplayer</h1>

<input type="text" id="data" name="data" required>
<button id="send_btn" onclick="sendData()">Send</button>
<div id="container">

</div>

<script>
    let url = `ws://${window.location.host}/ws/socket-server/`
    const chatSocket = new WebSocket(url)
    let user_id = ''
    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        console.log(data)
        if (data.type === 'creds'){
            user_id = data.message
             document.getElementById('container').insertAdjacentHTML('beforeend', '<p>' + data.message + '    ' + new Date().getTime() + '</p>')
        }
        if (data.type === 'data'){
            document.getElementById('container').insertAdjacentHTML('beforeend', '<p>' + data.message + '    ' + new Date().getTime() + '</p>')
        }

    }

    function sendData() {
        chatSocket.send(JSON.stringify(
            {'user_id':user_id,
            'message':  document.getElementById('data').value
            }

        ))
    }

</script>
</body>
</html>